{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="background-color: cadetblue; padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px; ">
        <div class="row" style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: 'Akronim', cursive;"> PITCH </span>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" >  
                <button
                type="button"style="size:50px;"
                ><a href="{{url_for('main.interview')}}" style="color:brown; font-size:15px; ">
                        <br>
                        <em>Inteview   Pitches</em>
                    </a>
                </button>  
                    <br>
                <button
                type="button"style="size:50px;">
                    <a href="{{url_for('main.pick_up_line')}}" style="color:brown; font-size:15px;">
                        <br>
                    <em>Pick  Up  Lines</em>
                    </a>
                </button>
                    <br>
                <button
                type="button"style="size:50px;">
                    <a href="{{url_for('main.promotion')}}" style="color:brown; font-size:15px;">
                        <br>
                    <em>Promotion Pitches</em>
                    </a>
                </button>
                    <br>
                <button
                    type="button"style="size:50px;"> 
                    <a href="{{url_for('main.product')}}" style="color:brown; font-size:15px;">
                        <br>
                    <em>Product   Pitches</em>
                    </a>
                </button>
                    <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="panel style="style="border: 20px solid #f2f2f2; padding:20px; margin-top:10px; background-color: brown;">
                <p style="font-family: 'Bellefair', serif; font-size:20px;"><em>Pitches is a web application that allows users to use that one minute wisely. The users will submit their one minute pitches and other users will vote on them and leave comments to give their feedback on them. The pitches are organized by category. You can have different categories like pickup lines, interview pitch , product pitch, promotion pitch. So Write your one minute in any of the categories to the left and let other user vote and comment on it.Please also feel free to comment and vote on pitches posted by other people </em></p>
                
                <div style="text-align:center;">
                    <a href="{{url_for('main.new_pitch')}}">
                        <br>
        </div>               
                        <span >Add a new Pitch here</span>
                    </a>

                </div>
            
            </div>
            
        
    </hr>
        <div class="all-pitches">
            <span style="color:gainsboro;">All pitches are displayed below</span>
                <hr> 
                {{macro.displayPitches(pitches)}}
            

        </div>

    </div>


{% endblock %}